<div id="signup"> 
    <form class="form">
        <h2>Account Details</h2>
        <div class="form__field">
            <label for='fname'>First Name</label><br />
            <input type="text" class="form__input"/>
        </div>
    </form>
</div>

{{outlet}}